/* FUENTE GOOGLEFONTS */
.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* PROPIEDADES GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  font-family: "Zen Dots", sans-serif;
 background-color: #000;
  background-image: 
    radial-gradient(circle at 30% 30%, rgba(255,255,255,0.1), transparent 40%),
    radial-gradient(circle at 70% 70%, rgba(255,255,255,0.05), transparent 40%),
    url('https://cdn.cosmos.so/d57143c1-fdbc-4b7e-9a98-ae4d80af6cb5?format=jpeg'); 
  background-size: cover;
  background-blend-mode: screen;
  color: white;
}

body {
margin: 0;
font-family: sans-serif;
}


/* MENÚ RESPONSIVE */

.header {
width: 100%;
position: fixed;
top: 0;
left: 0;
background: #000;
color: white;
z-index: 1000;
}


.header-top {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
}


.logo {
width: 140px;
height: auto;
display: block;
margin: 0;
padding: 0;
}


.nav-menu {
display: flex;
justify-content: flex-end;
padding-right: 20px;
}


.nav-menu ul {
display: flex;
gap: 30px;
list-style: none;
margin: 0;
padding: 0;
}


.nav-menu a {
color: white;
text-decoration: none;
font-size: 1.1rem;
transition: transform 0.2s ease, color 0.2s ease;
}


.nav-menu a:hover {
transform: scale(1.12);
color: #ff4dd2;
}


.hamburger-menu {
display: none;
flex-direction: column;
gap: 5px;
cursor: pointer;
}


.hamburger-menu .bar {
width: 28px;
height: 3px;
background: white;
}


/* Hover colores individuales */
.nav-menu li:nth-child(1) a:hover {
color: #ff4dd2;
}
.nav-menu li:nth-child(2) a:hover {
color: #4db8ff;
}
.nav-menu li:nth-child(3) a:hover {
color: #7dff4d;
}


@media (max-width: 768px) {
.nav-menu {
position: fixed;
top: 0;
right: -100%;
width: 60%;
height: 100vh;
background: #000;
display: flex;
justify-content: center;
align-items: center;
transition: right 0.3s ease;
}


.nav-menu ul {
flex-direction: column;
gap: 40px;
}


.hamburger-menu {
display: flex;
}
}


.nav-menu.active {
right: 0;
}

